.inputbox {
    margin-top: 2em;
    width: 500px;
  }

.timestamp {
    font-size: small;
    color: blue;
}

.author {
    font-size: small; 
    color:chocolate;  
}

.participant {
    color:darkolivegreen;
}

.me {
    font-size: small;
    color: red;
}