.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.inputbox,
.submitbutton {
  display: inline-block;
  padding: 12px 20px;
  font-size:larger;
  border-radius: 4px;
}

.inputbox {
  width: 500px;
  outline: none;
  margin: 8px 0;

}

.submitbutton {
  margin-left: 0.5em;
  background-color: red;
  color: white
}

.submitbutton:hover {
  background-color: white;
  color: red;
}

.timestamp {
  color: #888888;
}

.author,
.me {
  color: red;
}

.ablylogo {
  width: 160px;
}
