.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.inputbox,
.submitbutton {
  padding: 12px 20px;
  font-size:larger;
  border-radius: 4px;
}

.inputbox {
  width: 850px;
  outline: none;
  margin: 8px 0;
}

.submitbutton {
  width: 100px;
  margin-left: 0.5em;
  background-color: red;
  color: white
}

.submitbutton:hover {
  background-color: white;
  color: red;
}

.whenPosted {
  color: #888888;
}

.me {
  color: red;
}

.postDetails {
  color:#888888;
  font-size: smaller;
  font-style: italic;
}

.siteName {
  color:#888888;
  font-size: smaller;
}

.ablylogo {
  width: 160px;
}

.card {
  display:flex;
  column-gap: 2em;
  border-style: dashed;
  border-width: 1px;
  border-color: red;
}

/* unvisited link */
.articleLink:link {
  color: red;
  font-weight: bold;
}

/* visited link */
.articleLink:visited {
  color: red;
}

/* mouse over link */
.articleLink:hover {
  color: white;
}

/* selected link */
.articleLink:active {
  color: red;
}

.pic {
  display: flex;
  justify-content: center;
  width:200px;
}

